
[Django]
secret=j82bebmogm5g)lc%%5*6#eg)484+pmkj3w07%%&*@j8#6wb-^n-g

[GoogleOAuth2]
client_id=1028089840802-dkqbk7tht666l0pn37mvpoik9c1memhs.apps.googleusercontent.com
client_secret=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